html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poiret+One&display=swap');

/* General styles */

html {
    font-size: 125%;
    padding: 0;
    margin: 0;
    /* background-color: rgb(204, 196, 255); */
    background-image: url(../assests/background-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    scroll-behavior: smooth;
}

.App {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 2%;
   
}

.wrapper {
    width: 85%;
    max-width: 1440px;
}

/* Header */

header {
    height: 15vh;
    display: flex;
    justify-content: center;
}

/* Typography */

h1 {
    margin: 0;
    font-size: 3.5rem;
    font-family: 'Major Mono Display', monospace;
}

span.upper {
    text-transform: uppercase;
}

span.lower {
    text-transform: lowercase;
}

.sign-selection h2 {
    margin-bottom: 3%;
    font-size: 1.3rem;
    font-family: 'Poiret One', cursive;
}

h3 {
    font-family: 'Poiret One', cursive;
    font-size: 1.4rem;
    color: rgb(255, 248, 220);
}

p {
    font-family: 'Poiret One', cursive;
    font-size: 1.2rem;
}

a {
    font-family: 'Poiret One', cursive;
    color: white;
}

button {
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
}

a.arrow-up {
    font-size: 2rem;
}

a.arrow-up:hover,
a.arrow-up:focus {
    color: rgb(255, 248, 220);
}

/* Signs */

.sign-selection {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.astro-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
    border-radius: 0.3rem;
    padding: 3% 0;
    background-color: rgba(100, 149, 237, 0.2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

div.astro-buttons button {
    height: 8.5rem;
    width: 8.5rem;
    margin: 1%;
    border: none;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    padding-top: 2.7rem;
    color: rgb(255, 248, 220);
    background-color: rgba(144, 181, 248, 0.295);
    box-shadow: rgba(129, 129, 153, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-position: center;
    background-repeat: no-repeat;
    
}

.aries {
    background-image: url(../assests/aries.png);
    background-size: 85%;
}

.taurus {
    background-image: url(../assests/taurus.png);
    background-size: 80%;
}

.gemini {
    background-image: url(../assests/gemini.png);
    background-size: 100%;
}

.cancer {
    background-image: url(../assests/cancer.png);
    background-size: 100%;
}

.leo {
    background-image: url(../assests/leo.png);
    background-size: 70%;
}

.virgo {
    background-image: url(../assests/virgo.png);
    background-size: 100%;
}

.libra {
    background-image: url(../assests/libra.png);
    background-size: 100%;
}

.scorpio {
    background-image: url(../assests/scorpio.png);
    background-size: 75%;
}

.sagittarius {
    background-image: url(../assests/sagittarius.png);
    background-size: 80%;
}

.capricorn {
    background-image: url(../assests/capricorn.png);
    background-size: 100%;
}
 
.aquarius {
    background-image: url(../assests/aquarius.png);
    background-size: 100%;
}

.pisces{
    background-image: url(../assests/pisces.png);
    background-size: 80%;
}

div.astro-buttons button:hover,
div.astro-buttons button:focus {
    background-color: rgba(67, 90, 133, 0.295);
}


div.astro-buttons button span {
    font-size: 1rem;
    padding-top: 0.3rem;
}

/* Horoscope */

.horoscope-reading {
    height: 90vh;
    margin-top: 10%;
}

.date-buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 78%;
    right: 39%;
}

.user-horoscope-reading {
    text-align: center;
    padding: 3% 2% 2% 2%;
    border-radius: 0.3rem;
    background-color: rgba(100, 149, 237, 0.2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}

.reading {
    font-size: 1.4rem;
}

.user-horoscope-reading span {
    text-transform: uppercase;
    color: rgb(255, 248, 220);
}

.horoscope-reading h2 {
    font-family: 'Major Mono Display', monospace;
    font-size: 1.8rem;
    text-align: center;
    margin: 3%;
}

div.date-buttons button {
    padding: 1.7%;
    border: none;
    border-radius: 0.3rem;
    color: rgb(255, 248, 220);
    background-color: rgba(144, 181, 248, 0.295);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

div.date-buttons button:hover,
div.date-buttons button:focus {
    background-color: rgba(67, 90, 133, 0.295);
}

.yesterday {
    margin-right: 5%;
}

.tomorrow {
    margin-left: 5%;
}

div.horoscope-reading-content {
    position: relative;
}

/* Footer */

footer {
    text-align: center;
}

footer p {
    font-size: 16px;
    padding: 1% 0;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover,
footer a:focus {
    color: rgb(255, 248, 220);
}

/* Media queries */

@media(max-width: 1365px) {

    h1 {
        font-size: 2.8rem;
    }

    .sign-selection h2 {
        margin-top: 10%;
    }
}

@media(max-width: 900px) {

    div.astro-buttons button {
        height: 7.5rem;
        width: 7.5rem;
        padding-top: 2rem;
    }

    .sign-selection h2 {
        margin-top: 3%;
    }
}

@media(max-width: 775px) {
    
}